body {
    background-color: #ebceca ;
  }
  blog-posts {
    font-family: 'montserrat',sans-serif ;
    color: navy;
        text-align: center;
        
        }
        .card-container1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }